body{
    background: -webkit-linear-gradient(90deg, rgb(122, 191, 223) 10%, rgb(255, 255, 255) 90%);
    background: -moz-linear-gradient(90deg, rgb(122, 191, 223) 10%, rgb(255, 255, 255) 90%);
    background: -ms-linear-gradient(90deg, rgb(122, 191, 223) 10%, rgb(255, 255, 255) 90%);
    background: -o-linear-gradient(90deg, rgb(122, 191, 223)10%, orange 90%);
    background: linear-gradient(90deg, rgb(122, 191, 223) 10%, rgb(255, 255, 255) 90%);
    font-family: Verdana, Geneva, sans-serif;
    line-height: 2em;
    background-color:#222;
}
div { border-radius: 5px; }
table {
    width: 100%;
    border: 0;
    font-size: 19px;
    font-family:sans-serif;
 }
 th, td {
    width: 25%;
    text-align: center;
    margin-top: 15px;
  
    
 }

#encabezado { z-index: 0; position:relative; background-color: rgb(184, 227, 253); width: 97%; height: 60px; border: 2px dotted lightblue; font-family: Times; margin-top: -20px; margin-bottom: 10px; }
#email { float: right; text-decoration: none; color: rgb(10, 10, 10); margin: 10px; }

#email:hover { font-weight: bold; color: gray; }

#name { float: left; font-weight: bold; color: rgb(10, 10, 10); font-size: 1.5em; margin: 22px 10px 10px 10px; }

#name:hover { color: white; }
ul{
    text-align: center;
    align-items: center;
}
li{
    list-style: none;
    
    font-size: larger;
}

.parent {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 5px;
    }
    
    .grid_header { grid-area: 1 / 1 / 2 / 5;  }
    .grid_Inicio { grid-area: 2 / 2 / 3 / 4; }
    .grid_datos_titulo { grid-area: 3 / 1 / 4 / 2;
        background-color: rgb(33, 177, 117); }
    .grid_datos { grid-area: 3 / 2 / 4 / 4;
        background-color: rgb(107, 235, 181) ; }
    .grid_datos_fotos { grid-area: 3 / 4 / 4 / 5;}
    .grid_estudios { grid-area: 4 / 1 / 5 / 2; 
    background-color: rgb(121, 158, 17);}
    .grid_estudios_dato { grid-area: 4 / 2 / 5 / 4; }
    .grid_estudios_foto { grid-area: 4 / 4 / 5 / 5; }
    .grid_Titulo { grid-area: 5 / 1 / 6 / 2; 
    background-color: violet;}
    .grid_Titulo_dato { grid-area: 5 / 2 / 6 / 4; }
    .grid_Titulo_foto { grid-area: 5 / 4 / 6 / 5; }
    .grid_trabajo { grid-area: 6 / 1 / 7 / 2;
    background-color: tomato; }
    .grid_trabajo_datos { grid-area: 6 / 2 / 7 / 4; }
    .grid_curso { grid-area: 7 / 1 / 8 / 2;
    background-color: blueviolet; }
    .grid_curso_datos { grid-area: 7 / 2 / 8 / 4; }

    .referencia {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 5px;
        }
    
    .div1 { grid-area: 1/ 1/ 1/ 4; 
    }
    .div2  { grid-area: 3 / 1/ 2/ 2;
        background-color: rgb(206, 116, 65); 
        font-size: 20px;  
    }
    .div3 { grid-area: 3 / 2 / 2 / 5;
        background-color: rgb(255, 197, 163); 
   }
    .div4 { grid-area: 4 / 1/ 4 / 2; 
        background-color: rgb(112, 110, 218);
        font-size: 20px;
       }
    .div5 { grid-area: 4 / 2 / 4 / 5;
        background-color: rgb(164, 163, 248);
         }
    .div6 { grid-area: 3 / 1/ 3 / 2; 
        background-color: rgb(130, 238, 193);
        font-size: 20px;
            }
     .div7 { grid-area: 3 / 2 / 3 / 5;
        background-color: rgb(178, 238, 213);
     }
